openapi: 3.1.0
info:
  title: GridX Pricing API
  version: 1.0.0
  description: |
    PG&E dynamic retail pricing data served by GridX. Public endpoint, no
    authentication required. Returns hourly (or 15-minute) marginal price
    components for PG&E rate schedules under the CalFUSE program.

    Price components:
    - **MEC** - Marginal Energy Cost (generation)
    - **MGCC** - Marginal Generation Capacity Cost (generation)
    - **CLD** - Circuit Load Distribution (distribution)

    The sum of these three components equals the total interval price.
  contact:
    name: GridX
    url: https://gridx.com/

externalDocs:
  description: GridX API Documentation
  url: https://api-calculate-docs.gridx.com/calculate-apis-gridx-docs/get-pricing

security: []

servers:
  - url: https://pge-pe-api.gridx.com/stage/v1
    description: PG&E Stage environment (from curl example)
  - url: https://pe-api.gridx.com/stage/v1
    description: Stage environment (generic hostname)
  - url: https://pe-api.gridx.com/v1
    description: Production environment

paths:
  /getPricing:
    get:
      operationId: getPricing
      summary: Get pricing data for a PG&E rate schedule
      description: |
        Returns marginal price curves for the requested rate schedule, circuit,
        and date range. Each day in the range produces one entry in the `data`
        array with a `priceHeader` and an array of `priceDetails` intervals.

        Prices are posted daily at ~4:30 PM PST (day-ahead and week-ahead
        forecasts) and finalized at ~6:30 PM PST.
      parameters:
        - name: utility
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/Utility'
          description: Utility partner name.
        - name: market
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/Market'
          description: Energy market type.
        - name: program
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/Program'
          description: Pricing program name.
        - name: startdate
          in: query
          required: true
          schema:
            type: string
            pattern: '^\d{8}$'
            example: '20250301'
          description: Start date in YYYYMMDD format. Earliest available is 20240601.
        - name: enddate
          in: query
          required: true
          schema:
            type: string
            pattern: '^\d{8}$'
            example: '20250301'
          description: End date in YYYYMMDD format. Recommended max span is 2 weeks.
        - name: ratename
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/RateName'
          description: PG&E rate schedule code.
        - name: representativeCircuitId
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/RepresentativeCircuitId'
          description: 9-digit representative circuit ID (include leading zeros).
        - name: cca
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/CCA'
          description: Community Choice Aggregator code. Omit for bundled PG&E service.
      responses:
        '200':
          description: Pricing data returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricingResponse'
              examples:
                eelec-one-day:
                  summary: EELEC rate, one day, trimmed to 4 intervals
                  externalValue: examples/pge-pricing-response-sample.json
        '204':
          description: |
            No data available. Returned for validation errors including:
            invalid date formats, missing required fields, non-existent
            CCA/utility names, or rate/circuit ID mismatches.

components:
  schemas:
    Utility:
      type: string
      enum: [PGE]

    Market:
      type: string
      enum: [DAM]

    Program:
      type: string
      enum: [CalFUSE]

    RateName:
      type: string
      enum:
        - AG-A1
        - AG-A2
        - AGBP
        - AGBS
        - AGCP
        - AGCS
        - B6
        - B10P
        - B10S
        - B19P
        - B19S
        - B20P
        - B20S
        - EELEC
        - BEV1
        - BEV2P
        - BEV2S
        - EV2AS

    CCA:
      type: string
      enum: [PCE, AVA, SVCE, MCE, VCE, SJCE, 3CE, PIO]

    RepresentativeCircuitId:
      type: string
      pattern: '^\d{9}$'
      description: |
        9-digit PG&E distribution feeder identifier assigned to a customer service
        point. Encodes region, division, substation, and feeder number. Include
        leading zeros.

        To determine your circuit ID, use `gridx.pge.circuits/find-circuits` or
        see `data/pge-circuit-locations.edn` for the full mapping of all 98 known
        circuit IDs to their location (region, division, substation, feeder).

        Sources:
        - PG&E 2022 Grid Needs Assessment, CPUC filing 496629893, Appendix D
          (https://docs.cpuc.ca.gov/PublishedDocs/Efile/G000/M496/K629/496629893.PDF)
        - Priicer community cross-reference
          (https://forum.priicer.com/t/pg-e-dynamic-pilot-california/33)

        The enum below lists the 59 circuits confirmed available via the GridX API.
        An additional 39 Sacramento-area circuits exist in the CPUC filing but have
        not been verified against the API; see the reference data for the full list.
      example: '013532223'
      enum:
        - '012041131'
        - '012640401'
        - '013532223'
        - '013921103'
        - '014052103'
        - '014321101'
        - '014592108'
        - '022011162'
        - '024011104'
        - '024040403'
        - '024091102'
        - '024101103'
        - '024131103'
        - '042211101'
        - '042450414'
        - '042571101'
        - '042891102'
        - '082031112'
        - '082831109'
        - '082952113'
        - '083182102'
        - '083371113'
        - '083611114'
        - '083771102'
        - '083892102'
        - '102841106'
        - '103081106'
        - '103351101'
        - '152442109'
        - '152561107'
        - '152701109'
        - '162611702'
        - '162611703'
        - '162611704'
        - '162991101'
        - '163121106'
        - '163191711'
        - '163191714'
        - '163251101'
        - '163722110'
        - '163912104'
        - '182191101'
        - '182381104'
        - '182492104'
        - '183052109'
        - '252051104'
        - '252051114'
        - '252062112'
        - '252281111'
        - '252711104'
        - '252802101'
        - '253611106'
        - '253882109'
        - '253911102'
        - '254081104'
        - '254091104'
        - '254411105'
        - '254452101'
        - '254572101'

    PricingResponse:
      type: object
      required: [meta, data]
      properties:
        meta:
          $ref: '#/components/schemas/Meta'
        data:
          type: array
          items:
            $ref: '#/components/schemas/PriceCurve'
          description: Array of daily price curves.

    Meta:
      type: object
      required: [code, requestURL, requestBody, response]
      properties:
        code:
          type: integer
          description: HTTP-like status code.
          example: 200
        requestURL:
          type: ['string', 'null']
          description: Internal URL the request was routed to. May be null on error.
        requestBody:
          type: string
          description: JSON string echo of the parsed query parameters.
        response:
          type: string
          description: Human-readable response message.
          example: Request succeeded

    PriceCurve:
      type: object
      required: [priceHeader, priceDetails]
      properties:
        priceHeader:
          $ref: '#/components/schemas/PriceHeader'
        priceDetails:
          type: array
          items:
            $ref: '#/components/schemas/PriceDetail'

    PriceHeader:
      type: object
      required:
        - priceCurveName
        - marketName
        - intervalLengthInMinutes
        - settlementCurrency
        - settlementUnit
        - startTime
        - endTime
        - recordCount
      properties:
        priceCurveName:
          type: string
          example: PGE-CalFUSE-EELEC-SECONDARY
        marketName:
          type: string
          example: CAISO-DAM
        intervalLengthInMinutes:
          type: integer
          enum: [15, 60]
          description: Interval length. 60 for most meters, 15 for AMI-enabled.
        settlementCurrency:
          type: string
          example: USD
        settlementUnit:
          type: string
          example: kWh
        startTime:
          type: string
          description: ISO 8601 start time of the price curve.
          example: '2025-03-01T00:00:00-0800'
        endTime:
          type: string
          description: ISO 8601 end time of the price curve.
          example: '2025-03-01T23:59:59-0800'
        recordCount:
          type: integer
          minimum: 1
          example: 24

    PriceDetail:
      type: object
      required:
        - startIntervalTimeStamp
        - intervalPrice
        - priceStatus
        - priceComponents
      properties:
        startIntervalTimeStamp:
          type: string
          description: ISO 8601 timestamp for the start of this interval.
          example: '2025-03-01T00:00:00-0800'
        intervalPrice:
          type: string
          pattern: '^-?[0-9]+\.[0-9]+$'
          description: Total interval price as a decimal string in $/kWh.
          example: '0.053046'
        priceStatus:
          type: string
          enum: [Final]
        priceComponents:
          type: array
          items:
            $ref: '#/components/schemas/PriceComponent'
          minItems: 3
          maxItems: 3

    PriceComponent:
      type: object
      required: [component, intervalPrice, priceType]
      properties:
        component:
          type: string
          enum: [cld, mec, mgcc]
        intervalPrice:
          type: string
          pattern: '^-?[0-9]+\.[0-9]+$'
          description: Component price as a decimal string in $/kWh.
          example: '0.000482'
        priceType:
          type: string
          enum: [generation, distribution]
