openapi: 3.1.0
info:
  title: GridX SCE Pricing API
  version: 1.0.0
  description: |
    SCE dynamic retail pricing data served by GridX. Public endpoint, no
    authentication required. Returns hourly marginal price components for
    SCE rate schedules under the CalFUSE program.

    Price components:
    - **MEC** - Marginal Energy Cost (generation)
    - **PPF** - Peak Price Factor (generation)
    - **Ramp** - Ramp cost (generation)
    - **A-Bank** - Distribution A-Bank component (distribution)
    - **B-Bank** - Distribution B-Bank component (distribution)
    - **CircuitPriceCurve** - Circuit-specific distribution component (distribution)
    - **TransmissionPriceCurve** - Transmission component (transmission)
    - **NBC** - Non-Bypassable Charge (nonbypassablecharge)
  contact:
    name: GridX
    url: https://gridx.com/

externalDocs:
  description: GridX SCE API Documentation
  url: https://api-calculate-docs.gridx.com/calculate-apis-gridx-docs/sce-getpricing-api

security: []

servers:
  - url: https://pe-api.gridx.com/stage/v1
    description: Stage environment (shared hostname with PG&E)
  - url: https://pe-api.gridx.com/v1
    description: Production environment (shared hostname with PG&E)

paths:
  /getPricing:
    get:
      operationId: getPricing
      summary: Get pricing data for an SCE rate schedule
      description: |
        Returns marginal price curves for the requested rate schedule, circuit,
        and date range. Each day in the range produces one entry in the `data`
        array with a `priceHeader` and an array of `priceDetails` intervals.

        Prices are generated daily at ~6 PM Pacific Time. For automated
        scheduled calls, 6:15 PM ensures prices are always available.

        Historical prices available from July 1, 2025.
      parameters:
        - name: utility
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/Utility'
          description: Utility partner name.
        - name: market
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/Market'
          description: Energy market type.
        - name: program
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/Program'
          description: Pricing program name.
        - name: startdate
          in: query
          required: true
          schema:
            type: string
            pattern: '^\d{8}$'
            example: '20250701'
          description: Start date in YYYYMMDD format. Earliest available is 20250701.
        - name: enddate
          in: query
          required: true
          schema:
            type: string
            pattern: '^\d{8}$'
            example: '20250701'
          description: End date in YYYYMMDD format. Recommended max span is 2 weeks.
        - name: ratename
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/RateName'
          description: SCE rate schedule code.
        - name: representativeCircuitId
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/RepresentativeCircuitId'
          description: Representative circuit substation name (despite the parameter name, values are substation names not numeric IDs).
      responses:
        '200':
          description: Pricing data returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricingResponse'
              examples:
                tou-ev-9s-one-day:
                  summary: TOU-EV-9S rate, one day, trimmed to 2 intervals
                  externalValue: examples/sce-pricing-response-sample.json
        '204':
          description: |
            No data available. Returned for validation errors including:
            invalid date formats, missing required fields, non-existent
            utility names, or rate/circuit mismatches.

components:
  schemas:
    Utility:
      type: string
      enum: [SCE]

    Market:
      type: string
      enum: [DAM]

    Program:
      type: string
      enum: [CalFUSE]

    RateName:
      type: string
      enum:
        - TOU-GS-1
        - TOU-GS-2
        - TOU-GS-3
        - TOU-EV-9ST
        - TOU-EV-9P
        - TOU-EV-9S
        - TOU-PRIME
        - TOU-D-49
        - TOU-D-58
        - TOU-EV-8
        - TOU-PA-2
        - TOU-PA-3
        - TOU-8ST
        - TOU-8P
        - TOU-8S

    RepresentativeCircuitId:
      type: string
      description: |
        Representative circuit substation name assigned to the customer.
        Named substations in the SCE service territory.
        Note: the GridX docs call this parameter `representativeCircuit`,
        but the actual API uses `representativeCircuitId` (same as PG&E).
      example: System
      enum:
        - Alamitos
        - Antelope
        - Bailey
        - Barre
        - Center
        - Chino
        - Del Amo
        - Devers
        - Eagle Rock
        - El Casco
        - El Nido
        - Ellis
        - Etiwanda
        - Goleta
        - Gould
        - Hinson
        - Johanna
        - Kramer
        - La Cienega
        - La Fresa
        - Laguna Bell
        - Lighthipe
        - Mesa
        - Mira Loma
        - Mirage
        - Moorpark
        - Olinda
        - Padua
        - Rector
        - Rio Hondo
        - San Bernardino
        - Santa Clara
        - Santiago
        - Saugus
        - Springville
        - System
        - Valley AB
        - Valley EFG
        - Vestal
        - Victor
        - Viejo
        - Villa Park
        - Vista 115
        - Vista 66
        - Walnut
        - Windhub

    PricingResponse:
      type: object
      required: [meta, data]
      properties:
        meta:
          $ref: '#/components/schemas/Meta'
        data:
          type: array
          items:
            $ref: '#/components/schemas/PriceCurve'
          description: Array of daily price curves.

    Meta:
      type: object
      required: [code, requestURL, requestBody, response]
      properties:
        code:
          type: integer
          description: HTTP-like status code.
          example: 200
        requestURL:
          type: ['string', 'null']
          description: Internal URL the request was routed to. May be null on error.
        requestBody:
          type: string
          description: JSON string echo of the parsed query parameters.
        response:
          type: string
          description: Human-readable response message.
          example: Request succeeded

    PriceCurve:
      type: object
      required: [priceHeader, priceDetails]
      properties:
        priceHeader:
          $ref: '#/components/schemas/PriceHeader'
        priceDetails:
          type: array
          items:
            $ref: '#/components/schemas/PriceDetail'

    PriceHeader:
      type: object
      required:
        - priceCurveName
        - marketName
        - intervalLengthInMinutes
        - settlementCurrency
        - settlementUnit
        - startTime
        - endTime
        - recordCount
      properties:
        priceCurveName:
          type: string
          example: SCE-CalFUSE-TOU-EV-9S-SECONDARY
        marketName:
          type: string
          example: CAISO-DAM
        intervalLengthInMinutes:
          type: integer
          enum: [15, 60]
          description: Interval length. 60 for most meters.
        settlementCurrency:
          type: string
          example: USD
        settlementUnit:
          type: string
          example: kWh
        startTime:
          type: string
          description: ISO 8601 start time of the price curve.
          example: '2025-07-01T00:00:00-0700'
        endTime:
          type: string
          description: ISO 8601 end time of the price curve.
          example: '2025-07-01T23:59:59-0700'
        recordCount:
          type: integer
          minimum: 1
          example: 24

    PriceDetail:
      type: object
      required:
        - startIntervalTimeStamp
        - intervalPrice
        - priceStatus
        - priceComponents
      properties:
        startIntervalTimeStamp:
          type: string
          description: ISO 8601 timestamp for the start of this interval.
          example: '2025-07-01T00:00:00-0700'
        intervalPrice:
          type: string
          pattern: '^-?[0-9]+\.[0-9]+$'
          description: Total interval price as a decimal string in $/kWh.
          example: '0.139976'
        priceStatus:
          type: string
          enum: [Final, Preliminary]
        priceComponents:
          type: array
          items:
            $ref: '#/components/schemas/PriceComponent'

    PriceComponent:
      type: object
      required: [component, intervalPrice, priceType]
      properties:
        component:
          type: string
          enum: [abank, bbank, circuitpricecurve, mec, nbc, ppf, ramp, transmissionpricecurve]
        intervalPrice:
          type: string
          pattern: '^-?[0-9]+\.[0-9]+$'
          description: Component price as a decimal string in $/kWh.
          example: '0.009422'
        priceType:
          type: string
          enum: [generation, distribution, nonbypassablecharge, transmission]
